{% extends 'base.html' %}
{% block content %}
{% load static %}
<ul class="list-group">
  {% for x in object_list %}
  <form method = 'POST'>{% csrf_token %}
      <a href="#"><li class="list-group-item">
        {% if x.status %}
        <button type="submit" class="btn mr-2 btn-success btn-rounded btn-sm btn-fw">open</button>
        {% else %}
        <button type="submit" class="btn mr-2 btn-warning btn-rounded btn-sm btn-fw">closed</button>
        {% endif %}
        {{x.exam_name}} | {{x.period}} | {{x.year}}
        <input name=timestamp_id value={{x.id}} style="visibility: hidden;">
      </form>
      </li></a>

  {% endfor %}
    </ul>
{% endblock content %}